<p id="notice"><%= notice %></p>

<h1>Listing Grades</h1>

<table>
  <thead>
     <div class="media">
  <div class="meda-body">
    <table class ="table table-hover">
    <tr>
      <th>Course Name</th>
      <th>Notes</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 3000 	4887 	CS 488 	Overall Grades 	Destroy
3000 	5567 	CS 680
      <%= link_to 'New Grade', new_grade_path %>
  <tbody>
      <% if current_user.accountNum == 2 %>
    <% sql = "Select * From grades where id == 1" %>
<% records_array = ActiveRecord::Base.connection.execute(sql) %>
    <% records_array.each do |course| %>
  <tbody>
    <tr>
        <td><%= course[0] %></td>
        <td><%= course[3] %></td>
        <td><%= course[4] %></td>

    <%end%>
      <%end%>
    </tr>

  </tbody>
</table>

<br>

