<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% sql = "Select student_id From students" %>

<% records_array = ActiveRecord::Base.connection.execute(sql) %>
  <tbody>
    <% records_array.each do |student| %>
      <tr>
        <td><%= student[0] %></td>
        <td><%= student[2] %></td>
        <td><%= student[3] %></td>
        <td><%= student[4] %></td>
        <form><td><%= link_to 'Grades', grades_path%></td></form>
      </tr>
    <% end %>
  </tbody>
</table>

<br>






